#main
  #header
    %h1 Public + Brain = Overflow
  #input
    %a{name:"postform"}
    %p{id:"string_length"} Input Text
    %input{type:"text",id:"text",size:140}
    %h2 :: USAGE :: 
    %p Push Key [Enter] -> Post it!!
    %p Click [Number] Post -> Number + 1 !!
  #postlist
    %h2 :: List ::
    %ul{id: "list"}
