%html
  %script{src: "/javascripts/jquery.js"}
  %script{src: "/socket.io/socket.io.js"}
  %script{src: "/javascripts/sample.js"}
  %link{rel: "stylesheet", type:"text/css",href:"/stylesheets/style.css"}
  %title Public + Brain = Overflow
  %body{style:"position:relative;"}
    != body
